* {
    font-family: garamond, 'Courier New', Arial;
    margin: 0;
}

h1 {
    background-color: rgb(156, 221, 238);
    padding: 12px;
    text-align: center;
    margin-bottom: 12px;
}
 h2 {
    padding: 10px;
 }
.primary_img {
    display: block;
    margin: 0px auto;
}

.description {
    background-color: rgb(156, 221, 238);
    padding: 10px;
    margin: 12px 0;
}

.description p {
    padding: 0 10px;
}

.ingredients {
    background-color: rgb(156, 221, 238);
    padding: 10px;
    margin: 12px 0;
}

.steps {
    background-color: rgb(156, 221, 238);
    padding: 10px;
    margin: 12px 0;
}